<md-card>
  <md-card-actions>
    <form name="loginForm">
      <div>
        <md-input-container flex>
          <label>Username</label>
          <input type="text" ng-model="$current.$authenticateService.username" name="username"required/>
        </md-input-container>
        <md-input-container flex>
          <label>Password</label>
          <input type="text" ng-model="$current.$authenticateService.password" required/>
        </md-input-container>
      </div>
      <div>
        <md-button type="submit" class="md-raised md-primary" ng-click="$current.login()" layout-fill>Login</md-button>
        <div ng-show="$current.$authenticateService.incorrectUser" class="error">
          *Username and/or password are incorrect
        </div>
      </div>
    </form>
  </md-card-actions>
</md-card>
