<md-content layout-align="center center" layout="column" layout-fill class="ocean-background">
  <md-tabs class="loginTab" md-dynamic-height md-border-bottom md-stretch-tabs="always">
    <md-tab id="tab1">
      <md-tab-label>Login</md-tab-label>
      <md-tab-body>
        <current></current>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab2">
      <md-tab-label>New User</md-tab-label>
      <md-tab-body>
        <newuser></newuser>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
